@if (isVisible()) {
  <nav aria-label="Navegación principal" class="application-navigation">
    <div class="container-fluid application-navigation__container">
      <div class="row align-items-center g-0">
        <div class="col">
          <a (click)="closeMenu()" class="application-navigation__brand" routerLink="/home">
            Flower Details
          </a>
        </div>

        <div class="col-auto d-md-none">
          <button
            (click)="toggleMenu()"
            [attr.aria-expanded]="isMenuOpen()"
            [attr.aria-label]="isMenuOpen() ? 'Cerrar menú de navegación' : 'Abrir menú de navegación'"
            class="application-navigation__icon-button"
            nz-button
            nzShape="circle"
            nzType="text"
            type="button"
          >
            <fa-icon [icon]="isMenuOpen() ? faXmark : faBars" aria-hidden="true" />
          </button>
        </div>

        <div [class.d-none]="!isMenuOpen()" class="col-12 col-md-auto d-md-flex">
          <div class="application-navigation__content">
            <div class="application-navigation__links">
              @for (item of navigationItems(); track item.route) {
                <a
                  (click)="closeMenu()"
                  [routerLink]="item.route"
                  class="application-navigation__link"
                  routerLinkActive="application-navigation__link--active"
                >
                  {{ item.label }}
                </a>
              }
            </div>

            <div class="application-navigation__account">
              @if (user(); as activeUser) {
                <span class="application-navigation__user">{{ activeUser.names }}</span>
                <button
                  (click)="logout()"
                  [attr.aria-label]="isLoggingOut() ? 'Cerrando sesión' : 'Cerrar sesión'"
                  [disabled]="isLoggingOut()"
                  class="application-navigation__icon-button"
                  nz-button
                  nzShape="circle"
                  nzType="text"
                  type="button"
                >
                  <fa-icon [icon]="faRightFromBracket" aria-hidden="true" />
                </button>
              } @else {
                <a
                  (click)="closeMenu()"
                  class="application-navigation__login"
                  nz-button
                  routerLink="/auth/login"
                >
                  Iniciar sesión
                </a>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    @if (logoutError(); as message) {
      <p class="application-navigation__error mb-0" role="alert">{{ message }}</p>
    }
  </nav>
}
